{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <title>Deletar</title>
{% endblock title %}

<h1>Produto</h1>
{% block content %}
<form class="form col-sm-4" method="post">
	{% csrf_token %}

    Voce deseja realmente deletar o {{ produto }}" ?

        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    <!--<input type="submit" value="Submit" /><input type="submit" value="Cancelar">-->
</form>
{% endblock content %}
